body {
	background-color: #40c3eb67;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* screen container */
#container {
	height: 100vh;
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

/* box containing drone and other components */
#drone_box {
	width: 200px;
	height: 100px;
	margin: auto;
	padding: 0;
	background-image: url(/assets/drone.png);
	position: absolute;
	background-position: bottom;
	background-size: 63%;
	background-repeat: no-repeat;
	transition: all 1s linear;
}

/* div for wings */
#wing_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end !important;
	position: relative;
	top: 25px;
	margin: 0;
	margin-left: 3px;
}

#leftwing {
	margin: auto;
	margin-left: -2px;
	margin-right: 0;
}

#rightwing {
	margin: auto;
}

.started {
	animation: startRotors 0.1s linear infinite;
}

@keyframes startRotors {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

.bankLeft {
	animation: bankLeft 1s linear infinite 0.2ms;
}

@keyframes bankLeft {
	0% {
		transform: inherit;
	}

	45% {
		transform: rotateZ(-5deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}
.tilt_lRotor {
	animation: tiltL 2s linear alternate;
}
@keyframes tiltL {
	0% {
		transform: inherit;
	}

	45% {
		transform: rotateZ(-10deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}

.bankRight {
	animation: bankRight 1s linear infinite 0.2s;
}

@keyframes bankRight {
	0% {
		transform: inherit;
	}

	45% {
		transform: rotateZ(5deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}
.tilt_rRotor {
	animation: tiltR 2s linear alternate;
}
@keyframes tiltR {
	0% {
		transform: inherit;
	}

	45% {
		transform: rotateZ(10deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}
